.altered-container 	{
	margin-left:100px!important;
	margin-right:100px!important;
}

.altered-menu 	{
	margin-left:0px!important;
	margin-right:0px!important;
}

.button-cart 	{
	margin-left:20px;
}

.middle-buttons 	{
	 padding:15px;
}

.spaces-left {
	margin-left:20px;
}

.spaces-bottom {
	margin-bottom:20px!important;
}

.spaces-top {
	margin-top:5px!important;
}

.spaces-right {
	margin-right:20px;
}

.register-button {
	width:100%;
}

.register-form {
	width:350px;
}

.remove-margin-bottom {
	margin-bottom:0px!important;
}

.image-position {
	position: absolute;
	height:500px;
}

.image {
	background-image:url("../images/wf..png");
	background-repeat:no-repeat;
	background-size:100% 500px;
	padding-bottom:150px;
}

.rows-position {
	padding-top:130px;
}

.fonts {
	font-size:80px;
	background-color:rgba(238, 238, 238, 0)!important;
}

.font-color {
	color:black!important;
	background-color:rgba(200, 200, 200, 0.29)!important;
}

.inline {
	display:inline!important;
	margin-right:20px;
}

.inline-table-cell {
	display:table-cell!important;
}

hr {
	border-color:black!important;
	margin-bottom:0px!important;
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.custom-jumboton {
	margin-bottom:-20px!important;
}

.row-border {
	border-style:solid;
	border-width:1px;
	border:1px;
}

.footer {
  right: 0!important;
  bottom: 0!important;
  left: 0!important;
  padding-top:20px!important;
  margin-bottom:0px!important;
  padding-bottom:8px!important;
  background-color: #2ba7cc!important;
  text-align: center!important;
  border-radius:0px;
}

.custom-row-header {
	text-align:center;
}

.text-align-center {
	text-align:center;
}

.row-text-center {
	padding-top:20px!important;
}

.table-header-color  {
	background-color:#85c6ff!important;
}

.custom-button {
	width:100%;
	height:40px;
	margin-top:20px;

}

.row-font-size {
	font-size:25px;
}

.custom-panel {
	 border:1px solid rgb(0, 0, 0)!important;
	 width:380px;
	 padding-left:15px;
	 padding-right:15px;
}

.custom-control {
	border:1px solid rgba(0, 0, 0, 0.55)!important
}

.search-field {
	width:70%!important;
	display:inline!important;
}

.search-button {
	width:40px!important;
	padding:9px!important;
}

table{
	border: 1px solid black;
	table-layout: fixed;
}

.column-width{
	border: 1px solid black;
	table-layout: fixed;
	width: 200px;
}

.column-width-vote-buttons {
	width: 100px!important;
}

.table-width {
	width: 80%!important;
}

.move-up {
	padding-bottom: 20px;
}

.column-width-buttons {
	width: 100px;
}

.votes-buttons {
	margin-top: 30%!important;
}
